body{
    color:#fff;
    box-sizing: border-box;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* ------------------------header---------------------*/


.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262525;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content:'';
    position: absolute;
    top:0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    transition: .5s 

}

.header:hover::after{
    left:100%;

}
.logo{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 1.15rem;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#menu-icon{
    display: none;
}

.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navbar a:hover,
.navbar a.active{
    cursor: pointer;
    color:#5db9ee;
}

/*-------------------------------- home------------------------*/

.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;

}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;

}
.right-container{
    background: linear-gradient(-45deg, #3877ff, #262525 70%);
    width: 30%;

}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.content{
    margin-left: 4rem;
}
.content h3{
    font-size: 1.5rem;
    color: #fff;
}
.content h1{
    font-size:4rem;
    color: #5db9ee;
}
.content h2 {
    color: #fff;
}
.content h2 span{
    color:#5db9ee;
    font-size: 1.5rem;
}
.btn-container button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background:#5db9ee;
    color:#262525;
}
button:nth-child(2){
    background: transparent;
    color:#5db9ee;
    margin-left:2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}
button:nth-child(2):hover{
    background: #5db9ee;
    color:#262525;
}
.icons .fa-brands:hover{
    cursor: pointer;
    color: rgb(223, 105, 164);
    
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background:linear-gradient(90deg,transparent 50%,#262525 50%);
    width: 33rem;
}
.circle:nth-child(2){
    background-image: url("anjali.jpg");
    width: 25rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1rem solid white;
    box-shadow: 0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
    
}
#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display:none;

}

/* -------------------------------- About Me --------------------------- */


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:#373039 ;
}
.about-img img{
    width: 35vw;
}
.heading{
    color:#fff;
    text-align: center;
    font-size: 4.5rem;
}
.about-content span{
    color:#5db9ee;
    
}
.about-content h3{
    color:#fff;
    font-size: 2.6rem;
}
.about-content p{
    color:#fff;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;

}
.about-content h2{
    text-align: left;
    line-height: 1.2;

}
.btn{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: .5s ease;
    text-decoration: none;
    background:#5db9ee;
    color:#262525;
    
}
.btn:hover
{
    background: transparent;
    color: #5db9ee;
}


/* --------------------------------- My skills ----------------------------------*/

.head{
    text-align: center;
    justify-content: center;
    font-size: 4.5rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.head span{
    color:#5db9ee;
    
}
.skills{
    min-height: auto;
    padding-bottom: 4rem;
    background-color:#262525 ;
    
}
.skills .skills-row{
    display:flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.skills-row .skills-column{
    flex: 1 1 40rem;

}
.skills-column .title{
    font-size: 2rem;
    margin: 0 0 1.5rem;


}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid #5db9ee;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index:1;
    overflow:hidden;
}

.skills-box .skills-content::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    z-index: -1;
    background:#0f0f0f;
    transition: .5s;

}
.skills-box .skills-content:hover::before{
    width: 100%;
}

.progress span{
    color:#5db9ee;
}
.skills-content .progress{
    padding: .5rem 0;

}
.skills-content .progress h3{
    font-size: 1.7rem;
    display:flex;
    justify-content: space-between;
}
.skills-content .progress .bar{
    height: 2rem;
    border-radius: .4rem;
    border: .2rem solid #5db9ee;
    padding: .5rem;
    margin: .2rem 0;
}

.skills-content .progress .bar span{
    display:block;
    height: 100%;
    border-radius: .2rem;
    background: #5db9ee;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width:90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width:75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width:75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width:70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width:90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width:80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width:50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width:85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width:70%;
}


/* --------------------------------------My project ---------------------------------- */

.project{
    background: #373039;
}
.project .head1{
    font-size: 4.5rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.project .head1 span{
    color:#5db9ee;
}
.project-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 10rem;

}
.project-container .project-box{
    position:relative;
    border-radius:2rem;
    box-shadow: 0 0 1rem #262525;
    overflow: hidden;
    display:flex;
}

.project-box img{
    width:100%;
    transition: .5s ease;
}
.project-box:hover img{
    transform:scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#5db9ee);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);


}

.project-layer h4{
    font-size: 2rem;
}
.project-layer p{
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 50%;

}
.project-layer a i{
    font-size: 2rem;
    color:#373039;

}

/* ---------------------  My Education ------ -------------*/

.education{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #262525;
}

.head2{
    font-size: 4.5rem;
    justify-content: center;
    text-align: center;
}
.head2 span{
    color: #5db9ee;
}

.container{
    width:100%;
    padding: 35px 10%;
    display: flex;
    padding-right: calc(10% - 30px);
}

main.row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col header.title{
    font-family: helvetica;
    color:#5db9ee;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #0f0f0f;
    background-color: #373039;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #0f0f0f;
    border: 1.5px solid transparent;
}

.col .contents .box::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #5db9ee;
    border: 2px solid white;
}
.box h4{
    position: relative;
    color: #5db9ee;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: #fff;
}
.box p{
    line-height: 1.2;
    color: whitesmoke;
    font-size: 17px;
}
@media(max-width: 768px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}


/* -------------------------- contact Me! -------------------- */


.contact{
    background-color: #373039;
    min-height: 100vh;
    padding-bottom: 4rem;

}
form{
    width:65%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;

}


.head5{
    justify-content: center;
    text-align: center;
    font-size: 4.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.head5 span{
    color:#5db9ee;
}
.contact form{
    text-align: center;
}
form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #5db9ee;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color:#fff;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;

}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;

}


form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    margin-top: 3rem;
    cursor: pointer;
    transition: .5s ease;
    background:#5db9ee;
    color:#262525;
}

form button:hover{
    background: transparent;
    color: #5db9ee;
}



/* ----------------footer---------------------- */


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #262525;
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: #5db9ee;
    border-radius: .5rem;
    transition: .5s ease;
    text-decoration: none;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem #5db9ee;
}


.footer-iconTop a i{
    font-size: 2rem;
    color:#373039;
}




/* --------------- Breakpoints ----------------   */



@media(max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media(max-width: 991px){
    .header {
        padding: 2rem 3%
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .about{
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .skills{
        padding-bottom: 7rem;
    }

    .project{
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}
@media(max-width: 768px) {
    #menu-icon {
        display: block;
        font-size: 2rem;
    }

    .navbar {
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #262525;
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    .home h3{
        font-size: 2.6rem;
    }
    .home h1 {
        font-size: 5rem;
    }
    .home h2{
        font-size: 3rem;

    }

    .about {
        flex-direction: column-reverse;
    }

    .about img{
        width: 50vw;
        margin-top: 4rem;
    }

    .project h2{
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

